<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Aafia</title>
</head>
<body>
    <div class="bg-image"></div>
    <div class="container main-page">
        <div class="text">
            <h1>Welcome to Aafia we're glad to help you find your drug</h1>
        </div>
        <div class="btns">
            <img src="../static/images/logo.jpg" alt="" class="logo">
            <form action="/search" method="GET">
                <input type="search" name="q" placeholder="Enter drug name">
                <input type="submit" value="Search for drug">
            </form>
            <a href="/pharmacist">Login as Pharmacist</a>
        </div>
    </div>
</body>
</html>